project:
  type: website
  output-dir: docs

website:
  title: "Misfit Tidbits"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/prat8897
format:
  html:
    theme: cosmo
    css: styles.css



